@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url(./navigation.css);
@import url(./menuDetail.css);
@import url(./aboutus.css);
@import url(./software.css);
@import url(./activities.css);
@import url(./threeContents.css);
@import url(./dark_mode.css);
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Glory:wght@100;200&family=Graduate&family=Inter&family=Libre+Bodoni:ital,wght@1,500&family=Lora&family=Mochiy+Pop+One&family=Open+Sans:ital,wght@1,300&family=Pacifico&family=Pattaya&family=Sansita+Swashed:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
    /* transition: 0.2s; */
}

body {
    margin: 0px;
    /* height: 5000px; */
    transition: 0.5s;
    background-color: #E3F4F4;
}

body hr {
    width: 1000px;
    display: block;
    margin: auto;
}

.icon {
    margin-left: 10px;
}

.workspace img {
    margin-top: 100px;    
}

.intro_image {
    background-image: url('/images/stacked-waves-haikei.png');
    background-repeat: no-repeat;
    position:absolute;
}
.detail h1{
    font-family: 'Bree Serif', serif;
    font-weight: normal;
}

.workspace {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.workspace .detail {
    width: 45%;
    margin-left: 100px;
}

.workspace .image {
    width: 600px;
    float: inline-end;
    margin: auto;
}

.workspace h1 {
    font-size: 80px;
    margin-bottom: 30px;
}

.workspace p {
    font-size: 20px;
    margin-bottom: 50px;
    font-weight: lighter;
    text-align: justify;
}

.workspace h2 {
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    color: #000000;
    background-color: #3AA6B9;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}
.workspace h2:hover{
 background-color: #3aa6b9d0;
}


.workspace a {
    text-decoration: none;
}

.copy_right > h1{
    font-size: 10px;
    margin-left: 20px;
}

.copy_right_image {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto;
}

.copy_right_image img {
    height: 80px;
    margin: auto;
    display: block;
}

.copy_right_image a {
    text-decoration: none;
    color: #000000  ;
}

.copy_right_image div h1 {
    font-size: 18px;
    /* text-align: center; */
}

.conclusion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conclusion .region_lang {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.conclusion .region_lang div {
    display: flex;
    align-items: center;
    margin: 20px;
}

.conclusion .region_lang .icon {
    font-size: 35px;
}

.conclusion .region_lang span {
    display: inline-block;
}

.conclusion .region_lang span h1 {
    font-size: 30px;
    margin-left: 15px;
}

.conclusion .region_lang span p {
    font-size: 10px;
    margin-left: 15px;
    text-align: justify;
}

.conclusion {
    display: block;
}

.conclusion .feed_back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.conclusion .feed_back div {
    display: block;
    margin: auto;

}

.conclusion .feed_back input {
    width: 500px;
    height: 50px;
    border-radius: 50px;
    padding-left: 30px;
    font-size: 20px;
    margin-right: 30px;
    background-color: #ffffff81;
}

.conclusion .feed_back .feed_back_btn {
    width: 100px;
    height: 45px;
    margin-left: -135px;
    border: none;
    border-radius: 50px;
    padding: 10px;
    text-align: center;
    background-color: #3AA6B9;
    
}

.conclusion .feed_back h1 {
    font-size: 20px;

}


.conclusion .feed_back button img {
    height: 50px;


}

.conclusion .feed_back button {
    border-radius: 20px;
    height: 80px;
    width: 80px;
}

.accounts .accounts_img {
    width: 30px;
    margin: auto 30px;
}

.accounts a {
    text-decoration: none;
}

.accounts button {
    border: none;
    background-color: transparent;
}

#home .white_space {
    height: 10px;
}

#aboutus .white_space {
    height: 80px;
}


#home .p2 {
    display: none;
}

.mobile_logout {
    display: none;
}

.final {
    background-image: url('/images/footer-bg.png'); 
    background-repeat: no-repeat; 
    background-color: #3aa6b9bd;
    padding-bottom: 100px;
}

/* .rotate {
    width: 50px;
    animation: rotation 3s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
    
} */


@media screen and (max-width: 450px) {
    
    #home {
        display: block;
        margin: auto;
    }
    #home .white_space {
        height: 60px;
    }

    .workspace {
        width: 100%;
        margin: 30px 0px;
        padding: 0px;
    }

    .workspace .detail {
        margin: 30px;
    }

    .workspace .detail h2 {
        font-size: 10px;
        width: 60px;
    }

    .workspace .detail h1 {
        font-size: 30px;
    }

    .workspace .detail .p1 {
        display: none;
    }

    #home .p2 {
        display: block;
        text-align: justify;
        margin: 20px;
    }

    .workspace .image {
        width: 150px;
        margin-right: 30px;
    }

    .workspace img {
        margin-top: 0px;
    }

    .copy_right h1 {
        font-size: 7px;
    }

    .copy_right_image {
        width: 100%;
    }

    .copy_right_image a div {
        /* padding: 80px; */
        /* margin: 50px; */
        width: 120px;
    }

    .copy_right_image a div img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .copy_right_image div h1 {
        text-align: center;
        font-size: 12px;
    }

    body hr {
        /* display: none; */
        width: 80%;
    }

    .conclusion {
        display: block;
    }

    .conclusion .accounts {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .conclusion .region_lang {
        display: block;
        float: right;
    }
    
    .conclusion .region_lang div {
        display: flex;
    }
    
    .conclusion .region_lang .icon {
        font-size: 20px;
    }
    
    .conclusion .region_lang span h1 {
        font-size: 15px;
        margin-left: 15px;
    }
    
    .conclusion .region_lang span p {
        font-size: 8px;
        margin-left: 15px;
        text-align: left;
    }
    
    .accounts .accounts_img {
        width: 20px;
        margin: auto 30px;
    }

    .accounts button {
        width: 50px;
    }

    .conclusion .feed_back {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .conclusion .feed_back input {
        width: 300px;
        height: 40px;
        border-radius: 30px;
        display: inline-block;
        margin: 30px 0px;
        border: 1px solid #000000;
        padding-left: 30px;
        font-size: 15px;
    }

    .conclusion .feed_back h1 {
        font-size: 15px;
        height: 20px;
    }

    .conclusion .feed_back .feed_back_btn {
        width: 80px;
        height: 35px;
        /* background-color: lightblue; */
        border-radius: 20px;
        border: none;
        margin-right: -40px;
    }

    .desktop_dark {
        display: none;
    }

    .list nav img {
        display: block;
        margin-right: 50px;
    }

    .dark-mode .copy_right_image div a {
        color: #ffffff;
    }

    .dark-mode .three_contents .text {
        color: #ffffff;
    }
}